#main-menu {
  position: fixed;
}

#main-menu .nav {
  min-height: 100vh;
}

#main-menu .nav-item {
  min-width: 150px;
  max-width: 250px;
}

/*CARD LAYOUT*/
.container-custom {
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 175px;
}

/*MENU STYLING*/
.nav-link{
  color: $menu-font-color !important;
}

.nav-link:hover{
  color: $menu-font-color-hover !important;
} 
